<!DOCTYPE html>
<html>
    <head>
        {{>link}}
        <style>
             body {
     font-family: 'Rubik', sans-serif;
     height: 100% !important;
     background-color: #3F51B5 !important
 }

 #star {
     margin-left: -5px !important;
     vertical-align: bottom !important;
     opacity: 0.5
 }

 .more {
     opacity: 0.5 !important
 }

 .btn:hover {
     color: black !important
 }

 .vl {
     margin: 8px !important;
     width: 2px;
     border-right: 1px solid #aaaaaa;
     height: 25px
 }

 #plus {
     opacity: 0.8
 }

 .card {
     border-radius: 10px !important
 }

 .btn-outlined:active {
     color: #FFF;
     border-color: #fff !important
 }

 img {
     cursor: pointer;
     overflow: visible
 }

 .btn:focus,
 .btn:active {
     outline: none !important;
     box-shadow: none !important
 }

 .container {
     margin-top: 30px !important
 }

 @media screen and (min-width: 480px) 
    {
 .desktop-1 {
  align-items: flex-start;
  background-color: #fcf1f1;
  display: flex;
  height: 350px;
  mix-blend-mode: normal;
  width: 100%;
}
.desktop-1 .blog {
  height: 143px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 345px;
}
.desktop-1 .logosapache {
  align-items: flex-start;
  display: flex;
  height: 140px;
  left: 257px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 120px;
}
.desktop-1 .overlap-group {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/rectangle-1@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 350px;
  justify-content: flex-end;
  min-width: 100%;
  padding: 19px 127px;
}
.desktop-1 .overlap-group1 {
  height: 206px;
  margin-bottom: 2.2px;
  position: relative;
  width: 345px;
}
.desktop-1 .overlap-group2 {
  align-self: flex-end;
  height: 140px;
  margin-left: 328px;
  position: relative;
  width: 377px;
}
.desktop-1 .overlap-group3 {
  height: 140px;
  margin-top: -0.02px;
  position: relative;
  width: 120px;
}
.desktop-1 .share-idea {
  height: 27px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  width: 293px;
}
.desktop-1 .vector {
  height: 34px;
  left: 56px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 36px;
}
.desktop-1 .vector-1 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 140px;
  width: 273px;
}
.desktop-1 .vector-2 {
  height: 54px;
  left: 31px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41px;
  width: 71px;
}
.desktop-1 .vector-3 {
  height: 19px;
  left: 84px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 36px;
}
.desktop-1 .vector-4 {
  height: 57px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 83px;
  width: 30px;
}
.desktop-1 .vector-5 {
  height: 24px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 89px;
  width: 43px;
}
.desktop-1 .vector-6 {
  height: 30px;
  left: 67px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 53px;
}
.desktop-1 .vector-7 {
  height: 60px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 34px;
  width: 46px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}}
@media screen and (max-width: 480px) 
    {
        .desktop-1 {
  align-items: flex-start;
  background-color: var(--white);
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/rectangle-2@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: 640px;
  mix-blend-mode: normal;
  padding: 171px 33px;
  width: 100%;
}
.desktop-1 .blog {
  height: 95px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 230px;
}
.desktop-1 .logosapache {
  align-items: flex-start;
  display: flex;
  height: 140px;
  left: 158px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 120px;
}
.desktop-1 .overlap-group {
  align-self: center;
  height: 128px;
  position: relative;
  width: 273px;
}
.desktop-1 .overlap-group1 {
  height: 140px;
  margin-top: 49px;
  position: relative;
  width: 293px;
}
.desktop-1 .overlap-group2 {
  height: 140px;
  margin-top: -0.02px;
  position: relative;
  width: 120px;
}
.desktop-1 .share-idea {
  height: 27px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 104px;
  width: 293px;
}
.desktop-1 .vector {
  height: 19px;
  left: 84px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 36px;
}
.desktop-1 .vector-1 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 62px;
  width: 273px;
}
.desktop-1 .vector-2 {
  height: 54px;
  left: 31px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41px;
  width: 71px;
}
.desktop-1 .vector-3 {
  height: 30px;
  left: 67px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 53px;
}
.desktop-1 .vector-4 {
  height: 60px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 34px;
  width: 46px;
}
.desktop-1 .vector-5 {
  height: 57px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 83px;
  width: 30px;
}
.desktop-1 .vector-6 {
  height: 24px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 89px;
  width: 43px;
}
.desktop-1 .vector-7 {
  height: 34px;
  left: 56px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 36px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}

    }
        </style>
    </head>
    <body>
        {{>header}}
  <div class="desktop-1 screen">
    <div class="overlap-group">
      <div class="overlap-group1">
        <img
          class="vector-1"
          src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-1@2x.svg"
        />
        <img
          class="blog"
          src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/blog@2x.svg"
        />
      </div>
      <div class="overlap-group2">
        <img
          class="share-idea"
          src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/share-idea@2x.svg"
        />
        <div class="logosapache">
          <div class="overlap-group3">
            <img
              class="vector-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector@2x.svg"
            />
            <img
              class="vector"
              src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-2@2x.svg"
            />
            <img
              class="vector-7"
              src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-3@2x.svg"
            />
            <img
              class="vector-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-4@2x.svg"
            />
            <img
              class="vector-6"
              src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-5@2x.svg"
            />
            <img
              class="vector-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-6@2x.svg"
            />
            <img
              class="vector-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/60c0df29c445eb8477e3598a/img/vector-7@2x.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
        <div class="container-fluid">
                <a href="/blog" class="btn btn-primary">ALL ARTICLES</a>
             <a href="/blog/new/" class="btn btn-secondary">New Article</a>
        <a href="/blog/article/my/" class="btn btn-danger">My Articles</a>
        
        </div>
         <div class="container">
             {{#each post}}
     <div class="card mt-3 border-5 pt-2 active pb-0 px-3">
         <div class="card-body ">
             <div class="row">
                 <div class="col-12 ">
                     <h4 class="card-title "><b>{{this.title}}</b></h4>
                 </div>
                 <div class="col">
                     <h6 class="card-subtitle mb-2 text-muted">
                         {{this.createdAt}}
                   </h6>
                   <h6 class="card-subtitle mb-2 text-muted">
                       Author:{{this.name}}
                       Email:{{this.emailId}}
                   </h6>
                 </div>
             </div>
         </div>
         <div class="card-footer bg-white px-0 ">
             <div class="row">
                 <div class="col-md-auto ">
                     <a href="/blog/{{this.slug}}" class="btn btn-primary">Read more</a>
                 </div>
             </div>
         </div>
     </div>
     {{/each}}
 </div>

    </body>
</html>